
/*
  grey-brown : rgb(166,159,140)
  red: rgb(233, 0, 58)
  green: 88, 224, 0
  purple: 113, 9, 170
  yellow: rgb(255, 255, 0)

  Fonts:
  font-family: 'BioRhyme Expanded', serif;
font-family: 'Economica', sans-serif;
font-family: 'Monoton', cursive;
 */

body {
  font-family: 'Economica', sans-serif;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
}
/************ Header *****************/
header {
  display: relative;
  width: 100%;
  height: 600px;
  background-image: url("Images/header2.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
}
  /* Nav */
#navBar {
  margin-top: 0px;
  display: flex;
  align-items: center;
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: rgb(166,159,140);
  padding-right: 0px;
}

.toggleBar {
  background-color: white;
  margin: 5px;
  width: 30px;
  height: 2px;
  transition-property: all;
  transition-duration: 1s;
}

#navList {
  position: fixed;
  top: 20px;
  width: 150px;
  background-color: rgb(166,159,140);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}

#aboutLink {
  text-decoration: underline;
  text-decoration-color: rgb(88, 224, 0);
}

#aboutLink p:hover{
    background-color: rgb(222, 216, 200);
}

#aboutLink a:visited{
  color: inherit;
  text-decoration-color: inherit;
}

#productsLink {
  text-decoration: underline;
  text-decoration-color: rgb(113, 9, 170);
}

#productsLink p:hover{
    background-color: rgb(222, 216, 200);
}

#productsLink a:visited{
  color: inherit;
  text-decoration-color: inherit;
}

#contactLink {
  text-decoration: underline;
  text-decoration-color: rgb(233, 0, 58);
}

#contactLink p:hover{
    background-color: rgb(222, 216, 200);
}

#contactLink a:visited{
  color: inherit;
  text-decoration-color: inherit;
}


.navTab {
  color: white;
}

#slogan {
  height: 100%;
  display: grid;
  justify-items:center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

header h1{
  font-family: 'Monoton', cursive;
  font-size: 300%;
}

#mid {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition-property: all;
  transition-duration: 2s;
}

#mod {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

#hip {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}
/******************About section*****************/
#about {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutRow {
  display: flex;
  flex-direction: row;
}

#about p {
  text-align: center;
  align-self: center;
  width: 40%;
}
/* row two needs to start on the right side of the viewport*/
#row2{
  display: flex;
  justify-content: flex-end;
}


.colorBlock {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: black;
  transition-property: width;
  transition-duration: 750ms;
  text-align: center;
}

.colorBlock h1{
  font-family: 'Monoton', cursive;
  font-size: 275%;
  font-weight: lighter;
}

#cBlock1 {
  background-color: rgb(233, 0, 58);
}
#cBlock2 {
  background-color: rgb(255, 255, 0);
  transition
}
#cBlock3 {
  background-color: rgb(88, 224, 0);
}
/******************Products section*****************/
#productsList {

  /* width: 100%; */
  list-style: none;
  display: flex;
  flex-direction: row;
}

.prodContainer {
  width: 25%;
}

.productTitle {
  text-align: center;
  background-color: rgb(166,159,140, .80);
  color: white;
}

.productImage {
  background-size: cover;
  width:100%;
  height: 250px;
}

/******************Contacts section*****************/

#mediaIcons {
  display: flex;
  justify-content: center;
}

.mediaIcon {
  width: 50px;
  height: 50px;
}

#map {
  height: 300px;
  width: 100%;
}


footer {
  width: 100%;
  height: 70px;
  background-color: rgb(113, 9, 170);
}

/* For desktop: */
@media only screen and (min-width: 700px) {
  body {
    width: 80%;
    margin-left: 10%;
  }
  /* TODO: figure out what is going on with the nav bar width; */
  #navBar{
    width: 80%;
  }
}
