
/*
  grey-brown : rgb(166,159,140)
  red: rgb(233, 0, 58)
  green: 88, 224, 0
  purple: 113, 9, 170
  yellow: rgb(255, 255, 0)
 */

body {
  margin: 0px;
  padding: 0px;
}
/************ Header *****************/
header {
  display: relative;
  width: 100%;
  height: 600px;
  background-image: url("Images/header2.jpg");
  background-size: cover;
}
  /* Nav */
#navBar {
  display: flex;
  align-items: center;
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: rgb(166,159,140);
  padding-left: 10px;
  padding-right: 0px;
}

.toggleBar {
  background-color: white;
  margin: 5px;
  width: 30px;
  height: 2px;
  transition-property: all;
  transition-duration: 1s;
}

#navList {
  position: fixed;
  top: 20px;
  width: 150px;
  background-color: rgb(166,159,140);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

#aboutLink {
  text-decoration: underline;
  text-decoration-color: rgb(88, 224, 0);
}

#aboutLink p:hover{
    background-color: rgb(222, 216, 200);
}

#productsLink {
  text-decoration: underline;
  text-decoration-color: rgb(113, 9, 170);
}

#productsLink p:hover{
    background-color: rgb(222, 216, 200);
}

#contactLink {
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 0);
}
#contactLink p:hover{
    background-color: rgb(222, 216, 200);
}

.navTab {
  color: white;
}

/******************Contacts section*****************/

#map {
  height: 300px;
  width: 100%;
}


footer {
  width: 100%;
  height: 30px;
  background-color: rgb(113, 9, 170);
}
